/*
Author : Sylvain Rotureau
Date : 14/05/2022
Version : 1
*/

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=La+Belle+Aurore&family=Megrim&family=Quicksand&family=Radio+Canada&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;

    // HEADER
    header {
        z-index: 10;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        height: auto;
        background-color: white;
        border-bottom: 1px solid;
        padding: 2% 5%;
        gap: 4%;
        flex-wrap: wrap;

        #logo {
            a {
                text-decoration: none;
                font-family: 'Megrim', cursive;
                font-size: 3rem;
                font-weight: 800;
                color: black;
            }
        }

        nav {
            max-width: auto;

            ul {
                display: flex;
                justify-content: flex-start;
                gap: 4%;

                li {
                    border: 1px solid black;
                    border-radius: 20px;
                    padding: 4%;
                    list-style: none;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        color: #063970;
                    }

                    a:hover {
                        text-decoration: none;
                        font-weight: 600;
                    }

                    a:link {
                        text-decoration: none;
                        font-weight: 600;
                    }
                }

                li:hover {
                    background-color: #eab676;
                }

            }
        }
    }

    // TOP
    #top {
        background-color: white;
        height: auto;
        text-align: center;
        padding: 0 0;
        flex-wrap: wrap;

        #title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1%;
            flex-wrap: wrap;
            cursor: pointer;
            padding: 0 0 10% 0;

            h1 {
                margin-top: 10%;
                font-size: 3rem;
                font-family: 'Megrim', cursive;
            }

            h3 {
                font-style: italic;
                opacity: 50%;
                font-size: 1.2rem;
            }
        }
    }

    // MEDIA
    #media {
        background-color: #063970;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding: 2% 0;

        .icon {
            i {
                font-size: 3rem;
                color: white;
                border: 1px solid white;
                border-radius: 10px;
                max-height: 100%;
                text-align: center;
                padding: 0.5em 2em;
            }
        }

        i:hover {
            background-color: white;
            color: black;
        }
    }

    // COMPETENCES
    #skills {
        text-align: center;
        padding: 5%;
        gap: 10%;
        display: flex;
        flex-direction: column;

        a{
            font-weight: 800;
            text-decoration: none;
color:#063970;
        }

        a:visited{
            text-decoration: none;
color:#063970;
        }

        h2 {
            margin: 2% 0;
            font-size: 2.2rem;
            font-weight: 100;
            color: black;
        }

        .row {
            display: flex;
            flex-direction: center;
            flex-wrap: wrap;
            gap: 5%;
            justify-content: center;

            .skill {
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                img {
                    height: 20%;
                    max-height: auto;
                    object-fit: contain;
                }

                h3 {
                    text-align: center;

                }

                p {
                    margin: 2%;
                }

            }

        }
    }

    // MOREABOUT
    #moreabout {
        padding: 5% 20%;
        height: auto;
        background-color: #eab676;

        .citation {
            font-family: 'La Belle Aurore', cursive;
            font-size: 1.6rem;
        }

        .signature {
            font-family: 'Fasthand', cursive;
            font-size: 1.8rem;
            text-align: right;
        }
    }

    // REALISATIONS
    #reals {
        height: auto;
        text-align: center;
        padding: 5%;
        gap: 10%;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 2% 0;
            font-size: 2.2rem;
            font-weight: 100;
            color: black;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
            justify-content: center;

            .real {
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                img {
                    border: 1px solid black;
                    border-radius: 10%;
                    height: 100%;
                    width: 100%;
                    max-height: auto;
                    object-fit: contain;
                }

                h3 {
                    text-align: center;
                }

                button {
                    border-radius: 10px;
                    padding: 5%;
                    width: 60%;
                    background-color: white;
                    color: black;
                    border-color: black;
                }

                button:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    // FOOTER
    footer {
        padding: 5%;

        height: 5vh;
        background-color: #abdbe3;
        display: flex;
        gap: 2%;
        max-width: 100%;

        #logo {
            font-family: 'Megrim', cursive;
            color: black;
            font-size: 3rem;
            font-weight: 800;
        }

        .info {
            display: flex;
            gap: 2%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    // RESPONSIVE
    @media screen and (max-width: 480) {

        body {

            header {
                nav {
                    flex-direction: column;

                    ul {
                        flex-direction: column;

                    }
                }
            }

            #media {
                flex-direction: column;

                .icon {
                    i {
                        font-size: 2rem;
                        width: 15vh;
                    }
                }
            }
        }
    }
}