/*
Author : Sylvain Rotureau
Date : 14/05/2022
Version : 1
*/

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=La+Belle+Aurore&family=Megrim&family=Quicksand&family=Radio+Canada&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;

    // HEADER
    header {
        z-index: 10;
        position: sticky;
        top: 0;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid;
        padding: 2% 8%;
        text-align: center;
        min-height: 15rem;

        #logo {
            a {
                text-decoration: none;
                font-family: 'Megrim', cursive;
                font-size: 3rem;
                font-weight: 800;
                color: black;
            }
        }

        nav {
            ul {
                padding: 0;

                li {
                    border: 1px solid black;
                    border-radius: 20px;
                    padding: 4%;
                    list-style: none;
                    cursor: pointer;
                    text-align: center;

                    a {
                        text-decoration: none;
                        font-weight: 600;
                        color: #063970;
                    }

                    a:hover {
                        text-decoration: none;
                        font-weight: 600;
                    }

                    a:link {
                        text-decoration: none;
                        font-weight: 600;
                    }
                }

                li:hover {
                    background-color: #eab676;
                }

            }
        }
    }

    // TOP
    #top {
        background-color: white;
        text-align: center;
        min-height: 20rem;
        margin: 20% 8%;

        #title {
            cursor: pointer;
            padding: 0 0 10% 0;

            h1 {
                margin-top: 10%;
                font-size: 3rem;
                font-family: 'Megrim', cursive;
            }

            h3 {
                font-style: italic;
                opacity: 50%;
                font-size: 1.2rem;
            }
        }
    }

    // MEDIA
    #media {
        background-color: #063970;
        padding: 8%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;


        .icon {

            i {
                font-size: 3rem;
                color: white;
                border: 1px solid white;
                border-radius: 10px;
                text-align: center;
                padding: 0.5em 0.5em;
                min-width: 3rem;
            }
        }

        i:hover {
            background-color: white;
            color: black;
        }
    }

    // COMPETENCES
    #skills {
        text-align: center;
        padding: 8%;

        a {
            font-weight: 800;
            text-decoration: none;
            color: #063970;
        }

        a:visited {
            text-decoration: none;
            color: #063970;
        }

        h2 {
            margin: 2% 0;
            font-size: 2.2rem;
            font-weight: 100;
            color: black;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            justify-content: center;
            margin-top: 4rem;

            .skill {
                img {
                    width: 10rem;
                    max-height: auto;
                    padding: 2rem;
                }

                h3 {
                    text-align: center;

                }

            }

        }
    }

    // MOREABOUT
    #moreabout {
        padding: 8%;
        background-color: #eab676;

        .citation {
            font-family: 'La Belle Aurore', cursive;
            font-size: 1.6rem;
        }

        .signature {
            font-family: 'Fasthand', cursive;
            font-size: 1.8rem;
            text-align: right;
        }
    }

    // REALISATIONS
    #reals {
        padding: 8%;
        gap: 10%;

        h2 {
            margin: 2% 0;
            font-size: 2.2rem;
            font-weight: 100;
            color: black;
        }

        .row {
            gap: 10%;
            display: flex;   
            flex-wrap: wrap;
            
            .real {
                text-align: center;
                min-height: auto;
                margin: 8% 0;

                img {
                    border: 1px solid black;
                    border-radius: 10%;
                    width: 100%;
                    max-height: auto;
                    object-fit: contain;
                }

                h3 {
                    text-align: center;
                }

                button {
                    border-radius: 10px;
                    padding: 5%;
                    width: 60%;
                    background-color: white;
                    color: black;
                    border-color: black;
                }

                button:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    // FOOTER
    footer {
        padding: 5% 8%;
        min-height: 5vh;
        background-color: #abdbe3;
        display: flex;
        gap: 2%;
        max-width: 100%;

        #logo {
            font-family: 'Megrim', cursive;
            color: black;
            font-size: 3rem;
            font-weight: 800;
        }

        .info {
            display: flex;
            gap: 2%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    // RESPONSIVE

}